@page
@model ThemeParkDatabase.Pages.Locations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h2 class="box-title">Locations<h4><a asp-page="Create">Create New</a></h4></h2>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <table class="table table-bordered table-hover" id="location-table">
            <thead>
              <tr>
                <th>ID</th>
                <th>Location</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Location) {
                <tr name="location" data-id="@item.Id">
                    <td><a asp-page="./Details"
                        asp-route-id="@item.Id">@Html.DisplayFor(v => item.Id)</a></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>Description</td>
                    <!-- <td> -->
                    <!--     <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> | -->
                    <!--     <a asp-page="./Details" asp-route-id="@item.Id">Details</a> | -->
                    <!--     <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a> -->
                    <!-- </td> -->
                </tr>
            }
            </tbody>
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /.row -->

@section scripts {
<script>
  $("#location-table").DataTable();
</script>
}
