@page
@model ThemeParkDatabase.Pages.ReportQueries.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-12">
    <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Park Report</h3>
        </div>
        <div class="box-body">
        <p>
          Theme park management system for managing specific theme park data
          such as <mark>number of customers</mark> and <mark>average number per
            month</mark>,
          <mark>average number of rides broken down / needing
            maintenance</mark>, <mark>most frequently ridden rides per
            month</mark>, <mark>number of rainouts per month (and which
            month)</mark>,
          <mark>spikes in average number of customers on a weekly and monthly
            basis</mark>.
        </p>
        <br />
        <form id="query-form">
            <div id="filter-forms">
                <div class="form-group">
                    <label for="sel1">Query Object</label>
                    <select class="form-control" id="query-object-dropdown" name="query-object">
                        <option value="AttractionsQuery">Attractions</option>
                        <option value="VendorsQuery">Vendors</option>
                        <option value="VisitorsQuery">Visitors</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="start-date">Start Date</label>
                    <div class="col-10">
                        <input class="form-control" type="date" id="start-date" name="start-date" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="end-date">End Date</label>
                    <div class="col-10">
                        <input class="form-control" type="date" id="end-date" name="end-date">
                    </div>
                </div>
                <div class="form-group">
                    @* For attractions and vendors *@
                    <label for="location">Location</label>
                    <select class="form-control" id="location" name="locationId">
                        <option value="All">All</option>
                        @{
                            foreach (var location in Model._locations)
                            {
                                <option value="@location.Id">@location.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    @* For attractions *@
                    <label for="attraction-type">Attraction Type</label>
                    <select class="form-control" id="attraction-type" name="attractionTypeId">
                        @{
                            <option value="All">All</option>
                            foreach (var attractionType in Model._attractionTypes)
                            {
                                <option value="@attractionType.Id">@attractionType.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    @* For attractions *@
                    <label for="attraction-name">Attraction Name</label>
                    <select class="form-control" id="attraction-name" name="attractionName">
                        @{
                            <option value="All">All</option>
                            foreach (var attraction in Model._attractions.ToList())
                            {
                                <option value="@attraction.Name">@attraction.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    @* For vendors *@
                    <label for="vendor-type">Vendor Type</label>
                    <select class="form-control" id="vendor-type" name="vendorTypeId">
                        @{
                            <option value="All">All</option>
                            foreach (var vendorType in Model._vendorTypes)
                            {
                                <option value="@vendorType.Id">@vendorType.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="form-group">
                    @* For vendors *@
                    <label for="vendor-name">Vendor Name</label>
                    <select class="form-control" id="vendor-name" name="vendorName">
                        @{
                            <option value="All">All</option>
                            foreach (var vendor in Model._vendors)
                            {
                                <option value="@vendor.Name">@vendor.Name</option>
                            }
                        }
                    </select>
                </div>
            </div>
            <input type="button" value="Submit" id="submit-query">
        </form>
        </div>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
    </div>
    <!-- /.col -->
</div>
<!-- /.row -->

<!-- <div class="row"> -->
<!--     <div class="col-md-12"> -->
<!--     <div class="box box-primary"> -->
<!--         <div class="box-header with-border"> -->
<!--           <h3 class="box-title">Area Chart</h3> -->
<!--         </div> -->
<!--         <div class="box-body"> -->
<!--           <div class="chart"> -->
<!--             <canvas id="areaChart" style="height: 250px; width: 1160px;" width="1160" height="250"></canvas> -->
<!--           </div> -->
<!--           <1!-- /.chart --1> -->
<!--         </div> -->
<!--         <1!-- /.box-body --1> -->
<!--     </div> -->
<!--     <1!-- /.box --1> -->
<!--     </div> -->
<!--     <1!-- /.col --1> -->
<!-- </div> -->
<!-- <1!-- /.row --1> -->

@section scripts
{
    <script>
        $(document).ready(function () {
            refreshFilters();

            $("select[name='query-object']").on("change", function () {
                refreshFilters();
            });

            $("#submit-query").on("click", function () {
                var formData = $("#query-form").serializeArray(); // Just .serialize or serialize array?
                $.ajax({
                    url: "/api/ReportQueries/",
                    type: "POST",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("XSRF-TOKEN",
                            $('input:hidden[name="__RequestVerificationToken"]').val());
                    },
                    dataType: "html",
                    data: formData,
                    success: function (data) {
                        $(".reports-container").prepend(data);
                        console.log(data);
                    }
                })
            });
        });

        function refreshFilters() {
            var queryObject = $("select[name='query-object']").val();

            if (queryObject == "AttractionsQuery") {
                hideVendorsFilters();
                showAttractionsFilters();
                showLocationFilter();
            }
            else if (queryObject == "VendorsQuery") {
                hideAttractionsFilters();
                showVendorsFilters();
                showLocationFilter();
            }
            else if (queryObject == "VisitorsQuery") {
                hideAttractionsFilters();
                hideVendorsFilters();
                hideLocationFilter();
            }
        }

        function hideVendorsFilters() {
            $("label[for='vendor-name']").hide();
            $("#vendor-name").hide();
            $("label[for='vendor-type']").hide();
            $("#vendor-type").hide();
        }

        function showVendorsFilters() {
            $("label[for='vendor-name']").show();
            $("#vendor-name").show();
            $("label[for='vendor-type']").show();
            $("#vendor-type").show();
        }

        function hideAttractionsFilters() {
            $("label[for='attraction-name']").hide();
            $("#attraction-name").hide();
            $("label[for='attraction-type']").hide();
            $("#attraction-type").hide();
        }

        function showAttractionsFilters() {
            $("label[for='attraction-name']").show();
            $("#attraction-name").show();
            $("label[for='attraction-type']").show();
            $("#attraction-type").show();
        }

        function hideLocationFilter() {
            $("label[for='location']").hide();
            $("#location").hide();
        }

        function showLocationFilter() {
            $("label[for='location']").show();
            $("#location").show();
        }
    </script>
}
